@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;

    --color-primary: oklch(79.5% 0.184 86.047);
}

body {
    font-family: "Jost", sans-serif;
    @apply text-stone-900 antialiased;
}

button {
    @apply cursor-pointer;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
